.cart-product{
    display: flex;
    background-color: white;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cart-image{
    width: 100px;
    height: 100px;
}
.summary{
    width: 80%;
    line-height: 5rem;
    margin-left: 60px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.summary-total{
    display: flex;
    justify-content: space-between;
}
.pay-now-btn{
    padding: 20px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
}
.pay-now-btn:hover{
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}
.continue-btn{
    padding: 20px;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 20px;
}
.continue-btn:hover{
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}
.cart-flex{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    justify-content: center;
    padding-top: 30px;
}
@media screen and (max-width: 700px) {
    .cart-flex{
        display: flex;
        flex-direction: column;
    }
    .summary{
        width: 70%;
        margin-bottom: 50px;
    }
  }